body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(187, 187, 243);
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
}
h1 {
  text-align: center;
  color: blueviolet;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(5, 2, 172);
  background-color: aqua;
}
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
}
label {
  color: rgb(71, 3, 3);
}
#result {
  color: green;
}
